### server 관련 gitignore
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!src/main/**/build/
!src/test/**/build/
src/main/resources/application.yml
### IntelliJ IDEA ###
.idea
.idea
server/opensource/**/*.iws
server/opensource/**/*.iml
server/opensource/**/*.ipr
server/opensource/out/
!src/main/**/out/
!src/test/**/out/
